.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 900px;
}

.formsContainer {
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    /*background-color: darkseagreen;*/

}

.leftBar {
    width: 25%;
    height: 100%;
    background-color: aquamarine;
    border: #00FF00 solid 1px;
    border-radius: 5px;
}

.loginButton {
    justify-items: center;
    align-items: center;
}

.textShow {

}