.headerContainer {
    width: 99vw;
    height: 70px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
    border:#00FF00 1px solid;
 
}

.aHeader {
    text-decoration: none;
    color: dodgerblue;
}

.aHeader:hover {
    color: #0000FF;
}



.appLogo {
    color: #61dafb;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.appLogo:hover {
    color: dodgerblue;
}
.logReg:link{
    text-decoration: none;
}

.logRegIcons {
    color: #61dafb;
    font-size: 20px;
    width: 110px;
    height: 60px;
    padding-top: 16px;

}
.appLogo:hover {
    color: dodgerblue;
}
.appLogo:link{
    text-decoration: none;
}

.colWithTwoDiv {
    display: flex;
    text-decoration: none;
    padding: 5px 5px;
    justify-content: space-around;
}

.iconContainerHeader {
    display: inline;
    text-align: center;
}