.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 1200px;
}

.registerFormsContainer {
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 70%;
}

.regLeftBar {
    width: 20%;
    height: 50%;
    background-color: aquamarine;
    border: #00FF00 solid 1px;
    border-radius: 5px;
}

/*.input-feedback{*/
/*    color: dodgerblue;*/
/*}*/

.registerButton {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.submitRegisterBtn {
 width: 80%;
}

.textShow {

}