@font-face {
  font-family: 'ingrealm_icons';
  src: url('./public/fontello-e12ab944/font/ingrealm_icons.eot?10234719');
  src: url('./public/fontello-e12ab944/font/ingrealm_icons.eot?10234719#iefix') format('embedded-opentype'),
       url('./public/fontello-e12ab944/font/ingrealm_icons.woff2?10234719') format('woff2'),
       url('./public/fontello-e12ab944/font/ingrealm_icons.woff?10234719') format('woff'),
       url('./public/fontello-e12ab944/font/ingrealm_icons.ttf?10234719') format('truetype'),
       url('./public/fontello-e12ab944/font/ingrealm_icons.svg?10234719#ingrealm_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ingrealm_icons';
    src: url('../font/ingrealm_icons.svg?10234719#ingrealm_icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ingrealm_icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-back:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\e808'; } /* '' */
.icon-cancel-squared:before { content: '\e809'; } /* '' */
.icon-user-1:before { content: '\e80a'; } /* '' */
.icon-search-outline:before { content: '\e80b'; } /* '' */
.icon-search-1:before { content: '\e80c'; } /* '' */
.icon-home-outline:before { content: '\e80d'; } /* '' */
.icon-home-1:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-search-2:before { content: '\e810'; } /* '' */
.icon-user-2:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-plus-circle:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e814'; } /* '' */
.icon-chat-inv:before { content: '\e815'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e816'; } /* '' */
.icon-home-2:before { content: '\e817'; } /* '' */
.icon-trash:before { content: '\e818'; } /* '' */
.icon-basket-1:before { content: '\e819'; } /* '' */
.icon-basket-alt:before { content: '\e81a'; } /* '' */
.icon-calendar:before { content: '\e81b'; } /* '' */
.icon-trash-1:before { content: '\e81c'; } /* '' */
.icon-smiley:before { content: '\e81d'; } /* '' */
.icon-thumbs-up:before { content: '\e81e'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-globe:before { content: '\e820'; } /* '' */
.icon-basket-2:before { content: '\e821'; } /* '' */
.icon-chat-alt:before { content: '\e822'; } /* '' */
.icon-minus:before { content: '\e823'; } /* '' */
.icon-plus-1:before { content: '\e824'; } /* '' */
.icon-cancel:before { content: '\e825'; } /* '' */
.icon-cancel-circled:before { content: '\e826'; } /* '' */
.icon-check-1:before { content: '\e827'; } /* '' */
.icon-left-open:before { content: '\e828'; } /* '' */
.icon-right-open:before { content: '\e829'; } /* '' */
.icon-down-open:before { content: '\e82a'; } /* '' */
.icon-up-open:before { content: '\e82b'; } /* '' */
.icon-users:before { content: '\e82c'; } /* '' */
.icon-user-add:before { content: '\e82d'; } /* '' */
.icon-link:before { content: '\e82e'; } /* '' */
.icon-plus-2:before { content: '\e82f'; } /* '' */
.icon-cancel-1:before { content: '\e830'; } /* '' */
.icon-ok:before { content: '\e831'; } /* '' */
.icon-home-3:before { content: '\e832'; } /* '' */
.icon-hospital:before { content: '\e833'; } /* '' */
.icon-email:before { content: '\e834'; } /* '' */
.icon-twitter:before { content: '\e835'; } /* '' */
.icon-search-3:before { content: '\e836'; } /* '' */
.icon-down-open-1:before { content: '\e837'; } /* '' */
.icon-left-open-1:before { content: '\e838'; } /* '' */
.icon-right-open-1:before { content: '\e839'; } /* '' */
.icon-up-open-1:before { content: '\e83a'; } /* '' */
.icon-ok-1:before { content: '\e83b'; } /* '' */
.icon-ok-circle:before { content: '\e83c'; } /* '' */
.icon-cancel-2:before { content: '\e83d'; } /* '' */
.icon-cancel-circle:before { content: '\e83e'; } /* '' */
.icon-plus-circle-1:before { content: '\e83f'; } /* '' */
.icon-minus-circle:before { content: '\e840'; } /* '' */
.icon-lock:before { content: '\e841'; } /* '' */
.icon-lock-open:before { content: '\e842'; } /* '' */
.icon-comment-alt:before { content: '\e843'; } /* '' */
.icon-chat-1:before { content: '\e844'; } /* '' */
.icon-comment:before { content: '\e845'; } /* '' */
.icon-doc:before { content: '\e846'; } /* '' */
.icon-heart-1:before { content: '\e847'; } /* '' */
.icon-heart-empty-1:before { content: '\e848'; } /* '' */
.icon-globe-1:before { content: '\f018'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-user-3:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-1:before { content: '\f06e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
