.homePageContainer{
    margin-top: 50px;
    min-width: 95vw;
    min-height: 3000px;
    display: block;
}

#topText {
    margin-top: 200px;
    width: 99%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#topContent {
    clear: both;
    width: 99%;
    height: 500px;
    display: grid;
    justify-items: center;
}