.PlainTextContainer {

    width: 99%;

    height: 1350px;

}

.imgAndHeaderContainer {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;

}

.TextHeader {
    background-color: #f1fff8;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    display: flex;
    width: 24%;
    height: 830px;


    justify-content: center;

    padding-top: 120px;

    color: dodgerblue;
    font-size: 3.0vw;

    line-height: 2.3;
    letter-spacing: 3px;

    font-family: "Century Schoolbook L";
}

.imgContainer {
    width: 70%;
    height: 50%;
}

.descriptionAppBot {
    clear: both;
    height: 300px;
    width: 99%;
    background-color: #f1fff8;
    display: flex;
    justify-content: center;
    align-items: center;



    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}