.Top-Grid-Function{

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
    grid-template-areas:
    "textTop textTop photo photo photo"
    "textTop textTop photo photo photo"
    "textTop textTop photo photo photo"
    ". . photo photo photo"
    ". . photo photo photo"
    ". . . . ."
    ". . . . .";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 99%;

}

.topLeftBtn {
    grid-area: info;
    width: 90%;
    height: 90%;
    justify-content: center;
}

.centralBtn {

    grid-area: photo;



    /*display: grid;*/

    /*grid-template-columns: 33% 33% 33%;*/
    /*grid-template-rows: 33% 33% 33%;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    /*grid-template-areas:*/
    /*". . ."*/
    /*". text ."*/
    /*". . .";*/
}



.RightBottomBtn {
    grid-area: func;
    width: 90%;
    height: 90%;

}

.TextTopRight {
    grid-area: textTop;
    display: flex;
    justify-content: space-around;
    size: 1rem;
    width: 90%;
    height: 90%;

}

.changingTextDiv {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1fff8;
    border-radius: 15px;
}

.centerText {
    height: 50px;
    width: 50px;
}




.ImgContainerTopGrid {
    grid-area: photo;
}

.descriptionApp {
    grid-area: TG;
    text-align: center;
}